@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bahnscrift';
  src: url('./fonts/font/BAHNSCHRIFT.TTF') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Bahnscrift SemiBold';
  src: url('./fonts/font/BAHNSCHRIFT2.TTF') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Bahnscrift Bold';
  src: url('./fonts/font/BAHNSCHRIFT3.TTF') format('truetype');
  font-style: normal;
  font-weight: 700;
}

body{
  font-family: "Bahnscrift";
}

.bg-blue-buns{
  background: rgb(0,71,143);
  background: linear-gradient(180deg, rgba(0,71,143,1) 0%, rgba(0,0,0,1) 100%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}